<% if activity.trackable %>
	<div class="colm">
		<strong style="font-size:18px;">   has been update by   </strong> <%= link_to activity.trackable.name, activity.trackable %> 
		
	<% else %>
			<strong> which has since been removed </strong>
	</div>
<% end %>