<h1>Activities#index</h1>
<p>Find me in app/views/activities/index.html.erb</p>
<h1> User Detailed Page  </h1>

<style type="text/css">
	.wrapper{
		height:auto;
	}
	.center{
		width:80%;
		margin:0 auto;
	}
	.row{
		display: flex;
		flex-flow:row wrap;
		justify-content:space-around;
		padding:2% 0;
		border-bottom:2px dotted #000;
	}
	.colm{ display:flex;flex-flow:row wrap;justify-content:space-around; width:300px;line-height: 50px;  text-align:center;}
	.colm:nth-child(1){width:70px;}
	.btn-container{
		display:flex;flex-flow:row wrap;justify-content:space-around;
		/*line-height: 30px;*/
	}
	.btn{
		padding:5px 16px;
		/*margin-top:10px;*/
		text-decoration:none;
		font-size:18px;
		font-weight:bold;
		border-radius:8px;
	}
	.btn-success{background:#00a300;color:#fff;}
	.btn-danger{background:#ee1111;color:#fff;}
	.btn-primary{background:#2d89ef;color:#fff;}
</style>

<div class="wrapper">
	<div class="center">
		<div class="row">
			<div class="colm"> <h1> <strong> Id </strong> </h1> </div>
			<div class="colm"> <h1> <strong> User Detailed </strong> </h1> </div>
			<div class="colm"> <h1> <strong> Buttons </strong> </h1> </div>
		</div>
	</div>
</div>

<div class="wrapper">
	<div class="center">
  		<% @activities.each do |activity| %>
			<div class="row">
				<div class="colm"> 
					 <%= activity.id %>  </h1> 
				</div>
				<div class="colm"> 
						<%= link_to activity.owner.name, activity.owner if activity.owner %>
	    				<%= render_activity activity %> 
	    		</div>
				<div class="colm">
				 	
				 	<div class="btn-container">
						<%= link_to "New User" ,new_user_path, class: "btn btn-success" %> 					 		
				 	</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
	  <!-- <div class="activity">
	    
	  </div> -->
<%#= render_activities(@activities) %>
